<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Product List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Quantidade</th>
            <th>Valor</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products | async | paginate: {itemsPerPage: 4, currentPage: pageActual}; let i = index">
            <td scope="row">{{i+1}}</td>
            <td>{{product.name}}</td>
            <td>{{product.qtd}}</td>
            <td>{{product.vlr}}</td>
            <td><button (click)="deleteProduct(product.id)" class="btn btn-danger">Delete</button>
                <button (click)="productDetails(product.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
                <button (click)="productUpdate(product.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)= "pageActual = $event"></pagination-controls>
    </div>
  </div>